{% extends './base.html' %}

{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/posts_styles.css' %}">
{% endblock %}

{% block content %}
<h1 id="asdf">hello?</h1>

<img src="{% static 'posts/icon-comment.png' %}" style="width: 50px;">

<div class="container">
    <div class="row">
        <div class="col">
            <a href="{% url 'posts:postcreate' %}" class="btn btn-primary">Post</a>
        </div>
    </div>
    <div class="row">
        <div class="col">

            {% for post in post_list %}
            <div class="card border-dark">
                <div class="card-body" style="background-color: black; color: white;">
                    <h2 class="card-title">{{ post.poster }}<span class="text-dark"> · {{ post.pub_datetime }}</span></h2>
                    <p class="card-title">{{ post.post_text }}</p>


                    <a href="{% url 'posts:replycreate' post.id%}" class="icon-comment">
                        <div class="container comment-overlay" style="height: 40px; width: 40px;">
                        </div>
                    </a>
                    

                    
                    <a href="{% url 'posts:replycreate' post.id%}" class="btn btn-primary">Reply</a>
                    <a href="{% url 'posts:repostcreate' post.id%}" class="btn btn-primary">Repost</a>
                    <a href="{% url 'posts:postdetail' post.id%}" class="btn btn-primary">Detail</a>
                    <a href="" class="btn btn-primary">Like</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}