{% extends './base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col">

            {% for post in post_list %}
            <div class="card my-1">
                <div class="card-body" style="background-color: black; color: white;">
                    <h3 class="card-title">{{ post.poster }} - <span class="card-text">{{ post.pub_datetime }}</span></h2>
                    <p class="card-title">{{ post.post_text }}</p>
                    <a href="{% url 'posts:replies' post.id %}" class="btn btn-primary">See Replies</a>
                </div>
            </div>
            {% endfor %}

            {% comment %}
            {% for post in post_list %}
            <p>{{ post.post_text }}</p>
            <p>{{ post.pub_datetime }}</p>
            <a href="{% url 'posts:replies' post.id %}" class="btn btn-primary">See Replies</a>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                See Replies
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ post.post_text }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        {% for reply in post.reply_set.all %}
                        <p>{{ reply.reply_text }}</p>
                        <p>{{ reply.pub_datetime }}</p>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
            {% endcomment %}
        </div>
    </div>
</div>

{% endblock %}