{% extends './base.html' %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col">

            {% for post in post_list %}
            <div class="card border-dark">
                <div class="card-body" style="background-color: black; color: white;">
                    <h2 class="card-title">{{ post.poster }}<span class="text-dark"> · {{ post.pub_datetime }}</span></h2>
                    <p class="card-title">{{ post.post_text }}</p>
                    <a href="{% url 'posts:replies' post.id %}" class="btn btn-primary">See Replies</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}